{% extends 'base.html' %}

{% block title %}Transaction List{% endblock %}

{% block content %}
<div class="container">
    <h1>Transaction List</h1>
    <div class="custom-cards">
        {% for transaction in transactions %}
        <div class="custom-card" onclick="location.href='{% url 'transaction_detail' transaction.id %}';">
            <div class="custom-card-body">
                <h6>Transaction ID: {{ transaction.id }}</h6>
                <p>From Account: {{ transaction.account_from.id }}</p>
                <p>To Account: {{ transaction.account_to.id }}</p>
                <p>Amount: {{ transaction.amount }}</p>
                <p>Date: {{ transaction.date }}</p>
                <div class="custom-actions">
                    <a href="{% url 'transaction_detail' transaction.id %}" class="btn btn-primary btn-sm">View</a>
                    <a href="{% url 'transaction_update' transaction.id %}" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="{% url 'transaction_delete' transaction.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
